# Pandas Series Data Structure

In [2]:
import pandas as pd
pd.Series?

In [3]:
animals = ['Tiger', 'Dear', 'Fox']

In [4]:
pd.Series(animals)

0    Tiger
1     Dear
2      Fox
dtype: object

In [5]:
numbers = [1, 2, 3, 4]

In [6]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
animals = ['Tiger', 'Dear', None]

In [8]:
pd.Series(animals)

0    Tiger
1     Dear
2     None
dtype: object

In [9]:
numbers = [1, 2, None]

In [10]:
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [12]:
import numpy as np
np.nan == None

False

In [13]:
np.nan == np.nan

False

In [14]:
np.isnan(np.nan)

True

In [15]:
np.nan

nan

In [16]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}

In [20]:
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [21]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [22]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [23]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

## Querying Series

In [24]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}

In [25]:
s = pd.Series(sports)

In [26]:
s.iloc[3]

'South Korea'

In [27]:
s.loc['Taekwondo']

'South Korea'

In [28]:
s[3]

'South Korea'

In [29]:
s['Taekwondo']

'South Korea'

In [31]:
s = pd.Series([100.00, 200.00, 300.00, 400.00])
s

0    100.0
1    200.0
2    300.0
3    400.0
dtype: float64

In [32]:
s[0]

100.0

In [33]:
total = 0
for item in s:
    total += item
total

1000.0

In [34]:
import numpy as np
total = np.sum(s)
total

1000.0

In [37]:
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    755
1    512
2     90
3    533
4    335
dtype: int64

In [36]:
len(s)

10000

In [39]:
%%timeit -n 100
total = 0
for item in s:
    total += item
total

768 µs ± 42 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [40]:
%%timeit -n 100
total = np.sum(s)

120 µs ± 12 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [41]:
s += 2

In [42]:
s.head()

0    757
1    514
2     92
3    535
4    337
dtype: int64

In [43]:
for item, value in s.iteritems():
    s.set_value(item, value + 2)

/Users/viveks/Repos/Learning/applied-data-science-with-python/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [44]:
s.head()

0    759
1    516
2     94
3    537
4    339
dtype: int64

In [ ]:
%%timeit -n 10
for item, value in s.iteritems():
    s.loc[item] = value + 2